* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --primary-color: #f80;
  --secondary-color: #00498d;
  --dark-primary-color: #e07800;
  --dark-secondary-color: #00315f;
  --light-color: #e9e9e9;
  --dark-color: #2c2c2c;
}

body{
  font-family: 'arial';
  color: var(--dark-color);
}

a{
  text-decoration: none;
  color: unset;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*----- Nav Section -----*/
.nav{
  background-color: #FFF;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 10px 0px 10px #ebebeb;
  z-index: 1;
}

.nav .inner-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}

.logo{
  color: var(--primary-color);

}

.logo span{
  color: var(--dark-color);
}

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

.navs-icon-container{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-icon-container svg{
  height: 1.5rem;
}

.navs-icon-container .shopping-cart{
  position: relative;
}

.navs-icon-container .shopping-cart .products-count{
  content: "";
  position: absolute;
  background-color: red;
  width: 0.5rem;
  height: 0.5rem;
  bottom: -8px;
  left: -15px;
  border-radius: 50%;
  color: #FFF;
  padding: 0.7rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-container{
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-bottom: 1px solid var(--dark-color);
  padding: 0.5rem;
  margin-right: 1rem;
}

.search-input-container input{
  border: none;
  outline: none;
}

.search-input-container svg{
  height: 1rem;
  color: #808080;
}

nav ul li:hover{
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

.menu-button{
  display: none;
}

/*----- Header Section -----*/
header{
  background-color: var(--primary-color);
}

header .inner-content{
  max-width: 1600px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem;
  gap: 4rem;
}

header .left-side{
  color: #FFF;
}

header .left-side h2{
  font-size: 2.5rem;
}

header .left-side p{
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.see-more-btn{
  background-color: var(--primary-color);
  padding: 0.8rem 1rem;
  border-radius: 8px;
  transition: all 0.4s;
  display: flex;
  max-width: 130px;
  justify-content: space-between;
  align-items: center;
}

.see-more-btn:hover{
  background-color: var(--dark-primary-color);
  max-width: 200px;
}

header .right-side img{
  width: 100%;
}

/*----- Mobile Section -----*/
@media (max-width: 920px){
  .nav h1{
    font-size: 1.2rem;
  }

  header .inner-content{
    gap: 2rem;
    padding: 1.5rem;
    padding-top: 3rem;
  }

  header .left-side h2{
    font-size: 1.8rem;
  }

  nav{
    position: absolute;
    top: 55px;
    left: 0;
    background-color: #FFF;
    width: 100%;
    padding-bottom: 1rem;
    display: none;
  }

  nav.show{
    display: block;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li{
    text-align: center;
    padding: 0.8rem;
  }

  .menu-button{
    display: inline;
  }
}

@media (max-width: 780px){
  header .inner-content{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 580px){
  .search-input-container{
    display: none;
  }
}

/*----- Products Section -----*/
.page-inner-content{
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.product-list{
  display: grid;
  grid-template-columns:  repeat(auto-fit, 280px);
  place-content: center;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.product{
  padding: 1rem;
  border: solid 1px #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.product .buttons{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.product .name{
  font-weight: bold;
  margin-top: 0.4rem;
}

.product .price{
  margin-top: 0.4rem;
}

.product .price span{
  font-weight: bold;
}

.product .rate, .testimonial .rate{
  color: var(--secondary-color);
  font-size: 1.3rem;
}

.btn-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.8rem;
  background-color: var(--primary-color);
  color: #FFF;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.2s;
}

.btn-icon:hover{
  background-color: var(--dark-primary-color);
}

.add-to-cart-btn{
  background-color: var(--secondary-color);
}

.add-to-cart-btn:hover{
  background-color: var(--dark-secondary-color);
}

.section-title{
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.section-title h3{
  text-align: center;
  font-size: 1.8rem;
}

.section-title .underline{
  width: 150px;
  height: 2px;
  background-color: var(--primary-color);
  margin: 4px auto 0 auto;
}

/*----- Excluive Section -----*/
.exclusive-section{
  background-color: var(--secondary-color);
}

.exclusive-section .content{
  display: flex;
  align-items: center;
  color: #FFF;
  padding: 5rem 1rem;
}

.exclusive-section .right-side{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.exclusive-section .content .left-side img{
  max-width: 500px;
}

/*----- Testimonial Section -----*/
.testimonials{
  display: flex;
  padding: 4rem 1rem;
  justify-content: space-evenly;
}

.testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  text-align: center;
  box-shadow: 0px 0px 15px #afafaf;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.2s;
  gap: 0.7rem;
}

.testimonial:hover{
  transform: translateY(-5px);
}

.testimonial p:first-child {
  font-weight: bold;
  font-size: 5rem;
  color: var(--primary-color);
  margin-top: 2.5rem;
  line-height: 3rem;
}

/*----- Footer Section ------*/
footer{
  background-color: var(--secondary-color);
  color: #FFF;
}

footer .content{
  display: flex;
  padding: 4rem 1rem;
  gap: 2rem;
  justify-content: center;
}

.download-options > * {
  margin: 1rem 0;
}

.download-options > p:first-child{
  font-weight: bold;
}

.download-options > div {
  display: flex;
  gap: 1rem;
}

.images-footer img {
  max-width: 150px;
}

.logo-footer{
  text-align: center;
}

.logo-footer span{
  color: #FFF;
}

.logo-footer p{
  max-width: 480px;
  margin-top: 1rem;
  margin-inline: auto;
}

footer .links h3{
  margin-bottom: 0.8rem;
}

footer .links ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

hr{
  margin-inline: 4rem;
} 

.copyright{
  padding: 2rem 0;
  text-align: center;
}

/*----- Mobile Section -----*/
@media(max-width: 800px){
  .section-title h3{
    font-size: 1.2rem;
  }

  .product .name, 
  .product .price, 
  .product .rate,
  .testimonial .rate{
    max-height: 1rem;
    overflow: hidden;
    font-size: 0.8rem;
  }

  .exclusive-section .content{
    flex-direction: column;
  }

  .exclusive-section .content .left-side img{
    max-width: 250px;
    margin-bottom: 3rem;
  }

  .testimonials{
    flex-direction: column;
    gap: 1.5rem;
    max-width: 400px;
    margin-inline: auto;
  }

  footer .content{
    display: inline;
  }

  footer .content > div {
    padding: 1rem;
  }

  .images-footer img{
    width: 120px;
  }

  .copyright{
    font-size: 0.8rem;
  }

  footer .links h3,
  footer .links ul{
    text-align: center;
  }
}

/*----- SideBar Section -----*/
.sidebar-cart{
  background-color: #FFF;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-shadow: 5px 5px 50px var(--dark-color);
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  display: none;
}

.sidebar-cart::-webkit-scrollbar{
  display: none;
}

.sidebar-cart .sidebar-product{
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--light-color);
  justify-content: space-between;
  padding: 0.5rem;
  gap: 0.5rem;
}

.sidebar-cart .top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sidebar-cart .top button,
.sidebar-cart .sidebar-product button{
  background-color: var(--dark-color);
  color: #FFF;
  width: 1.5rem;
  height: 1.5rem; 
  border-radius: 50%;
}

.sidebar-cart .sidebar-product button{
  width: 1rem;
  height: 1rem;
}

.sidebar-cart .sidebar-product img{
  height: 75px;
}

.sidebar-cart .total-container{
  margin-block: 1rem;
}

.sidebar-cart .left-side{
  display: flex;
  gap: 0.5rem;
}

.sidebar-cart .left-side .details{
  display: flex;
  flex-direction: column;
}

.sidebar-cart .left-side .details p{
  font-size: 0.8rem;
}

.sidebar-cart .left-side input{
  width: 55px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.2rem;
}

.sidebar-cart.show{
  display: block;
}

/*----- Details Section -----*/
.container-details{
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.container-details .left-side img{
  width: 90%;
}

.container-details .right-side{
  max-width: 400px;
}

.container-details .right-side h1{
  font-size: 35px;
  font-weight: 800;
  display: flex;
  margin-top: 3rem;
}

.desc-details{
  margin-top: 1rem;
  font-weight: 500;
  font-size: 18px;
}

.price-details{
  font-weight: bold;
  font-size: 22px;
}

.container-details .card-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
  border: solid 1px black;
  border-radius: 8px;
  height: 70px;
  width: 470px;
  padding: 20px;
}

.container-details .buttons{
  display: flex;
  gap: 15px;
}

.container-details .btn-buy{
  font-size: 18px;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
  padding: 8px;
  border-radius: 10px;
  transition: all 0.2s;
}

.container-details .btn-add{
  font-size: 18px;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: white;
  padding: 8px;
  border-radius: 10px;
  transition: all 0.2s;
}

.container-details .btn-buy:hover{
  background-color: var(--dark-primary-color);
  transform: translateY(-5px);
}

.container-details .btn-add:hover{
  background-color: var(--dark-secondary-color);
  transform: translateY(-5px);
}

@media (max-width: 800px){
  .container-details{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-details .left-side{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-details .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
    text-align: center;
  }

  .container-details .right-side h1{
    font-size: 25px;
    text-align: center;
    margin-top: 0;
  }

  .container-details .left-side img{
    width: 60%;
    max-height: 50%;
  }

  .container-details .card-details {
    margin-bottom: 1rem;
    width: 380px;
  }
}

.confirmation-message{
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.products-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  gap: 16px;
}

.product {
  border: 1px solid #ddd;
  padding: 16px;
}

@media (max-width; 800px){
  .products-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    place-content: center;
  }
}